%Image::ExifTool::UserDefined = (
    
    'Image::ExifTool::XMP::Main' => {
       
        Camera => { 
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::Camera',
                
            },
        },
       
    },
    
    
); 

%Image::ExifTool::UserDefined::Camera = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-Camera', 2 => 'Camera' },
    NAMESPACE => { 'Camera' => 'http://pix4d.com/camera/1.0/'  },
    WRITABLE => 'string',
    Yaw => { Writable => 'rational', Groups => { 2 => Camera}},
    Pitch => { Writable => 'rational', Groups => { 2 => Camera}},
    Roll => { Writable => 'rational', Groups => { 2 => Camera}},
    CentralWaveLength => { Struct => { One => {Writable => 'string'}, Two => {Writable => 'string'}, Three => {Writable => 'string'}}, Groups => { 2 => Camera}},
    BandName => { Struct => { One => {Writable => 'string'}, Two => {Writable => 'string'}, Three => {Writable => 'string'}}, Groups => { 2 => Camera}},
);